body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#div1 {
    position: absolute;
    background-color: red;
    height: 100vh;
    width: 75vw;
    left: 0;
    top: 0;
}

#div2 {
    position: absolute;
    background-color: blue;
    height: 100vh;
    width: 25vw;
    left: 75vw;
    top: 0;
}