body {
    margin: 0;
}

/* 
create div style
*/

#div1 {
    background-color: blue;
}
#div2 {
    background-color: red;
}
#div3 {
    background-color: pink;
}

.page {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.selectedPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
}