@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: "Roboto";
    padding: 0;
}

body, html, #map {
    height: 100%;
    width: 100%;
}

/* p {
    font-family: 'Courier New', Courier, monospace;
} */

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.leaflet-overlay-pane svg path {
    pointer-events: auto;
}

#map {
    position: absolute;
}

.slider {
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 50vw;
}

#dayTimeTable {
    /* here to modify right table title */
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0
}

#timeTable {
    /* here to modify right table */

    opacity: 1;
    z-index: 0;
    position: absolute;
    bottom: 100px;
    right: 0;
    /* top: 0; */
    /* bottom: 200; */
    /* z-index: 10000;
    position: absolute; */
    /* color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute; */

    /* changes from PA */
    /* width: 100px;
    height: 100px; */
}

#headInfoSession {
    /* here to modify style on title of infosession */
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0
}

#infoSession {
    /* here to modify style on left table */
    opacity: 1;
    z-index: 0;
    position: absolute;
    bottom: 100px;
    left: 0;
}

/* Style for tooltip */
.tooltip {
    background-color: rgba(200, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

/* Animation for tooltip */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.wordcloudContainer {
    z-index: 9000;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
}


/* style td */
#timeTable td.gridjs-td {
    cursor: pointer;
}

#timeTable td.gridjs-td:hover {
    opacity: 0.5;
}